@charset "UTF-8";
body,html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

iframe{
    width: 95%;
    height: 400px;
    border: 2px solid black;
    /* para centralizar, porque iframe o display é inline  */
    display: block;
    margin: auto;
    
}